.wrapperForm {
height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: -30px;
  margin-bottom: 30px;
  
}

.register-left {
  text-align: center;
  color: #000;
  position: relative;
  width: 100%;
  margin-left: -2px;
  margin-top: 60px;
  padding: 20px;
  margin-bottom:60px ;
}
.register-left p {
  padding: 20px 20px 0;
  
}

.form-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* align-self: flex-end; */
  padding: 20px 40px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  border: 4px solid #eee;
  
}

form {
  width: auto;
  
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  display: relative;
  margin: 0px;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.userName,
.gitHub,
.email,
.firstName,
.lastName,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.firstName,
.lastName {
  width: 49%;
}

.userName,
.email,
.password,
.gitHub {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #0020dd;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #0020dd;
  background-color: #fff;
  border: 2px solid #0020dd;
}

#btn-facebook {
  background-color: #3b5998;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 49%;
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 1%;
}

#btn-Google {
  background-color: #c32f10;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 49%;
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-right: 1%;
}

.createAccount small {
  color: #999;
}

.Title{
  color: #0020dd;
}
