.quizContainer {
  opacity: 0;
  margin-top: 4rem;
  transition: opacity 1s ease-out;
  
}
.quizformContainer {
  background-color: #eee;
  box-shadow: 0px 10px 50px #555;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:80%;
    height:auto;
}

.quizContainer.fadeIn {
  opacity: 1;
}

.textImg {
  color: white;
  position: absolute;
  bottom: 0%;
}

input {
  border-radius: 2px;
  border: 1px solid grey;
}

.inputUpload {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.disabled-link {
  pointer-events: none;
}

/* to add to global scope 

:global(.row) {
  background: green;
} */
