.redirect-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #25292c;
  padding: 3rem;
  border-radius: 4px;
}
.redirect-container p {
  color: #eee;
}
.redirect-container h3 {
  color: #3cc47c;
}
.redirect-container a {
  color: #3cc47c;
}
