#top-ch-container {
  background-color: #fff;
  border-radius: 2px;
  margin-top: 5rem;
  box-shadow: 0px 10px 50px #555;
}

.card-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #eee;
  text-align: center;
}

.fab .fa-microsoft{
  width: 100px;
}
