.container1{
  background-color: #ffff;
  box-shadow: 0px 10px 50px #555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align:center;
  padding: 30px;
  width:300px;
  border: 4px solid #eee;
} 

.filternav-container form {
  display: inline-block;
  
}


.btn{
  background-color: #0020dd;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  
}


.btn:hover {
  color: #0020dd;
  background-color: #fff;
  border: 2px solid #0020dd;
}

.text-center{
  color:#0020dd;
  
}

strong{
  color:#0020dd;
}

@media (max-width:300px){
  .container1{
         width:300px
  }
}

