.quiz-container {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-out 4s;
}

.quiz-container.fadeIn {
  opacity: 1;
}

.text-img {
  color: white;
  position: absolute;
  bottom: 0%;
}

input {
  width: 100%;
}
