.create-tab-container {
  margin-top: 3.5rem;
}

.backUp-btn {
  position: fixed;
  top: 90%;
  z-index: 1001;
  left: 92%;
  background-color: #222629;
  border-radius: 10px;
  border: 0px;
  float: right;
  color: #66c090;
  filter: brightness(70%);
  transition: filter 0.3s;
}
.backUp-btn:hover {
  text-decoration: none;
  color: #66c090;
  filter: brightness(100%);
}
