.create-tab-container {
  margin-top: 1rem;
  background-color: #ffff;
  
}

.container-introduction{
  box-shadow: 0px 10px 50px #555;
  text-align:center;
  height: auto;
  padding: 20px;
  width: 800px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  margin-left: 300px;
}


.backUp-btn {
  position: fixed;
  top: 90%;
  z-index: 1001;
  left: 92%;
  background-color: #0020DD;
  border-radius: 10px;
  border: 0px;
  float: right;
  color: #ffff;
  filter: brightness(70%);
  transition: filter 0.3s;
  
}
.backUp-btn:hover {
  text-decoration: none;
  color: #0020DD;
  filter: brightness(100%);
}
